* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(https://img.freepik.com/free-photo/loto-game-man-puts-number-tea-side-view_141793-3152.jpg?w=2000);
    max-width: 1920px;
    width: 100%;
}
header {
    width: 25%;
    margin: 0 auto;
}
.wid_min {
    min-width: 300px;
}
#title_page {
    color: rgb(254, 37, 37);
    box-shadow: 1px 8px 8px 8px;
    text-align: center;
}
#tabellone {
    width: 80%;
    background-color: green;
    display: flex;
    flex-wrap: wrap;
}
.square {
    background-color: antiquewhite;
    width: calc(100% / 12 * 2);
    aspect-ratio: 1;
    border: 2px dashed red;
    display: flex;
    justify-content: center;
    align-items: center;
}

